body{
    background-color: darksalmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
}

.inline{
    display: block;
}

.block p{
    display: inline;
}
li{
    display: inline;
    margin-left: 25px;
    
}
li:hover{
    color: grey;

}

a{
   display: block;

   color: grey;
   text-decoration: none;
}