.right{
    background-color: blueviolet;
    width: 200px;
    height: 150px;
    
    
    margin-bottom: 20px;
}

.content{
    background-color: burlywood;
    width: 25%;
    height: 150px;
    overflow: hidden;
   
    float: right ;
   
}

.content, .right{
    border: 2px solid forestgreen;
    float: right;
}

.left{
    background-color:violet;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    margin-right: 20px;    
}

.content2{
    width: 40%;
    background-color: wheat;
    height: 150px;
   clear: left;
    
}
.content2, .left{
    border: 2px solid red ;
    float: left;
    
}
