.image img{
    opacity: 0.4;
    width: 100%;    
}
.top_right{
    position: absolute;
    top: 8px;
    right: 16px;
    color: black;   
    font-size: 25px;
}
.top_left{
    position: absolute;
    top: 8px;
    left: 16px;
    color: black;
    font-size: 25px;
}

.center{
    position: absolute;
    font-size: 25px;
    color: black;
    top: 50%;
    width: 100%;
    left: 50%;
}