.container{
    background-color: crimson;
    height: 600px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 122px 1fr 1fr;
   row-gap: 15px;
   column-gap: 15px; 
   padding: 10px 10px 10px 10px;
   justify-content: space-around;
}

.item{
    background-color: darkcyan;
   /* width: 120px;
    height: 120px; */
}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2px;
    column-gap: 2px;
    
}
.item2{
    background-color: darkgoldenrod;
}



