body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(back.jfif);
}

.image{
    background: url(back2.jfif) no-repeat center;
    background-size: cover;
    height: 400px;
    position: relative;
    width: 50%;
}

.content{
    text-align: center;
    color: tomato;
    
}